<!-- 8271 West Lake Pleasant Parkway, Suite 101, Peoria, AZ 85382 -->
<template name="location">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-7">
				<h2 class="bcenter">Business Hours</h2>
				
				<strong>Special Note Regarding Walk in Business Hours</strong>
				<p>Tuesday - Friday we offer walk in hours when we are not already booked for a private event/party or have one of our special <a href="http://www.cookiedoughjo.com/classes">cooking classes</a> scheduled. Our cooking class schedule is available on our Classes page and we aim to keep our <a href="https://www.facebook.com/thecookiedoughjo">Facebook page</a> up to date regarding walk in hours when other events or parties are scheduled.
				</p>
				<strong>Walk in Hours</strong>
				<p>Monday | Closed</p>
					<p>Tuesday - Friday | 10:00 a.m. - 7:00 p.m.</p>
				<strong>Events and Party Hours</strong>
					<p>Monday - Sunday | By Appointment</p>

			</div>
			<!--  Start Directions --> 
			<div class="col-md-5">
				<h2 class="bcenter">Get Directions</h2>
				<div class="embed-responsive embed-responsive-4by3">
				<iframe width="375" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=The%20Cookie%20Doughjo&key=AIzaSyC7hctQdXqMazarQaUnfIhnVyuUsPxKy1s"></iframe>
				</div>
			</div>
		</div>
	</div>
</template>

