<template name="home">
	<div id="home" class="{{pageVisibility}} page">
		<!-- Three columns of text below the carousel -->
		<div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <!--<%= image_tag 'cake.png', alt: "Placeholder", :class => "img-circle" %>-->
          <h2>Walk In Experience</h2>
          <p>Join us Tuesday - Friday for our Walk in Cookie Making Experience. This experience includes baking a dozen cookies from our menu and decorating a gable box to take the cookies home.</p>
          <p><a class="btn btn-default" href="/cookie_making_experience">Learn More</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-3">
          <!--<%= image_tag 'cake.png', alt: "Placeholder", :class => "img-circle" %>-->
          <h2>Birthday Parties</h2>
          <p>Host your son or daughter's birthday party at our DoughJo. We can accommodate up to 15 - 20 little chefs and their parents. Contact us today to lock in a special Grand Opening price.</p>
          <p><a class="btn btn-default" href="https://www.bookfresh.com/index.html?id=543cf68d9282bf846052ef7c269dd6e1&wi=3&view=button_dispatcher" target="_blank">Book Now</a><a class="btn btn-default" href="/parties">More Info</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-3">
          <!--<%= image_tag 'cake.png', alt: "Placeholder", :class => "img-circle" %>-->
          <h2>Field Trips</h2>
          <p>We work closely with educators to tailor each classroom experience to your curriculum. Whether you're teaching math, science, reading, or writing, we want to help you reinforce the skills you're teaching.</p>
          <p><a class="btn btn-default" href="/contact">Contact Us</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-3">
          <!--<%= image_tag 'cake.png', alt: "Placeholder", :class => "img-circle" %>-->
          <h2>Cooking Classes</h2>
          <p>Fun and exciting cooking classes for kids! Classes tailored for children three and up. Space is limited so Sign Up your children up today to learn to bake delicious cookies.  </p>
          <p><a class="btn btn-default" href="/classes">More Info</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>  
	</div>
</template>